@charset "UTF-8";
/* Base */
@import "suitcss-base";
@import "./css/base/**/*.css";
/* variable */
@import "./css/var/**/*.css";
/* Component */
@import "./component/**/*.css";

/* Library */
@import "../node_modules/pdf.js-controller/css/pdf-slide.css";