{
  "passPerPreset": true,
  "env": {
    "production": {
      "presets": [
        "es2015-ie"
      ]
    },
    "development": {
      "presets": [
        "jsdoc-to-assert",
        "power-assert",
        "es2015-ie"
      ]
    }
  }
}