{
  "presets": [
    "es2015",
    "stage-2",
    "react"
  ],
  "plugins": [
    "babel-plugin-transform-runtime"
  ],
  "env": {
    "development": {
      "presets": [
        "jsdoc-to-assert",
        "power-assert"
      ]
    }
  }
}
