# <%= title %>
<% for (var i = 0, l = sections.length; i < l; i++) { %>
<% var section = sections[i]; %>
<% if (!(/^\s*$/).test(section.docsText)) { %>
<% if (!(/^\s*$/).test(section.codeText)) { %>
<% if (!(/private/).test(section.docsText)) { %>
## Interface
```typescript
<%= section.codeText %>
```
<%= section.docsText %>

----
<% } %>
<% } %><% } %><% } %>
